# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
ios/build/
ios/Pods/
*.xcworkspace
*.xcodeproj

# Android
android/app/build/
android/build/
android/.gradle/
*.apk
*.aab
local.properties

# Metro
.metro-health-check*

# Buck
buck-out/
\.buckd/

# Bundle artifacts
*.jsbundle
*.hbc

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.iml
